<!-- Sidebar -->
<div class="w-100">
  <div class="sidebar d-flex flex-column ">
    <div class="logo d-flex align-items-center">
      <i class="fas fa-graduation-cap fa-2x me-2"></i>
      <h4 class="logo-text mb-0">NeuroApp</h4>
    </div>


  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <a class="nav-link" 
         routerLink="/instructor/dashboard" 
         routerLinkActive="active">
        <i class="fas fa-home"></i><span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         routerLink="/instructor/courses" 
         routerLinkActive="active">
        <i class="fas fa-book"></i><span>My Courses</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         routerLink="/instructor/module" 
         routerLinkActive="active">
        <i class="fas fa-users"></i><span>Modules</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         routerLink="/instructor/Videos" 
         routerLinkActive="active">
        <i class="fas fa-chart-bar"></i><span>Videos</span>
      </a>
    </li>

  </ul>


    <div class="mt-auto p-3 text-center">
      <div class="user-profile mb-3">
        <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="User" class="img-fluid">
      </div>
      <h6 class="mb-0">Dr. Michael Chen</h6>
      <small>Instructor</small>
    </div>
  </div>

</div>
